<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Website Home Page/Index">
  <meta name="author" content="BootcampAirBnB Team 2020">

  <title>Data Analytics - Final Proj</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/business-casual.min.css" rel="stylesheet">
  <link href="../static/style.css" rel="stylesheet">

</head>

<body>

  <a name="top"></a>
  <a href="/" style="text-decoration: none;"><h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">Los Angeles AirBnB</span>
    <span class="site-heading-lower">Hedonic Pricing Analysis</span>
  </h1></a>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="/about">About Project</a>
          </li>
          <li class="nav-item dropdown px-lg-4">
            <a class="nav-link dropdown-toggle text-uppercase text-expanded" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Machine Learning
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item text-uppercase text-expanded" href="/machinelearning">Machine Learning Models</a>
              <a class="dropdown-item text-uppercase text-expanded" href="/machinelearningvis">Machine Learning Visualizations</a>
            </div>
          </li>
          <li class="nav-item dropdown px-lg-4">
            <a class="nav-link dropdown-toggle text-uppercase text-expanded" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Visualizations
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item text-uppercase text-expanded" href="/index_choropleth">Map Exploration</a>
              <a class="dropdown-item text-uppercase text-expanded" href="/tableau">Tableau Visuals</a>
              <a class="dropdown-item text-uppercase text-expanded" href="/visuals">Further Visuals</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="../static/img/intro.png" alt="graph">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">LA AirBnBs</span>
            <span class="section-heading-lower">Predicted Pricings</span>
          </h2>
          <p class="mb-3">We examined Los Angeles AirBnB data and used that data to explore and predict pricings and various statistics of the city's AirBnBs.
          </p>
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" href="/machinelearning">Explore The Process</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section ct">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 offset-md-1">
        <br>
          <div class="title-header bg">
            <h3 class="title-header text-light text-center">VISUALIZATION DASHBOARD</h3>
              <div class='tableauPlaceholder' id='viz1594874370195' style='position: relative'>
                <noscript>
                  <a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ai&#47;AirbnbDashboard_15948743321440&#47;AirbnbDashboard&#47;1_rss.png' style='border: none' /></a>
                </noscript>
                <object class='tableauViz'  style='display:none;'>
                  <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
                  <param name='embed_code_version' value='3' /> 
                  <param name='site_root' value='' />
                  <param name='name' value='AirbnbDashboard_15948743321440&#47;AirbnbDashboard' />
                  <param name='tabs' value='no' />
                  <param name='toolbar' value='yes' />
                  <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ai&#47;AirbnbDashboard_15948743321440&#47;AirbnbDashboard&#47;1.png' /> 
                  <param name='animate_transition' value='yes' />
                  <param name='display_static_image' value='yes' />
                  <param name='display_spinner' value='yes' />
                  <param name='display_overlay' value='yes' />
                  <param name='display_count' value='yes' />
                  <param name='language' value='en-GB' />
                  <param name='filter' value='publish=yes' />
                </object>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <a href="#top"><p style="position: relative;text-align: right;font-size: 16px;padding-right: 2%;">Back To Top</p></a>

  <footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0 small">Copyright &copy; <a href="https://github.com/Maryamlaine/Airbnb" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">BootcampAirBnB Team 2020</a></p>
    </div>
  </footer>

  <!-- Tableau JavaScript -->
  <script type='text/javascript'>
    var divElement = document.getElementById('viz1594874370195');
    var vizElement = divElement.getElementsByTagName('object')[0];
    if ( divElement.offsetWidth > 800 ) 
      { vizElement.style.width='100%';vizElement.style.maxWidth='1980px';vizElement.style.height=(divElement.offsetWidth*0.60)+'px';vizElement.style.maxHeight='1200px';}
    else if ( divElement.offsetWidth > 500 ) 
      { vizElement.style.width='100%';vizElement.style.maxWidth='1980px';vizElement.style.height=(divElement.offsetWidth*0.60)+'px';vizElement.style.maxHeight='1200px';} 
    else 
      { vizElement.style.width='100%';vizElement.style.height='1600px';}
    var scriptElement = document.createElement('script');
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
    vizElement.parentNode.insertBefore(scriptElement, vizElement);
  </script>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
