<html class="no-js" lang="zxx">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Data Analytics - Final Proj</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/business-casual.min.css" rel="stylesheet">
  <link href="../static/style.css" rel="stylesheet">

</head>

<body>

  <h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">Los Angeles AirBnB</span>
    <span class="site-heading-lower">Hedonic Pricing Analysis</span>
  </h1>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="index.html">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="about.html">About Project</a>
          </li>
          <li class="nav-item active dropdown px-lg-4">
            <a class="nav-link dropdown-toggle text-uppercase text-expanded" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Machine Learning
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item text-uppercase text-expanded" href="machinelearning.html">Machine Learning Models</a>
              <a class="dropdown-item text-uppercase text-expanded" href="machinelearningvis.html">Machine Learning Visualizations</a>
            </div>
          </li>
          <li class="nav-item dropdown px-lg-4">
            <a class="nav-link dropdown-toggle text-uppercase text-expanded" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Visualizations
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item text-uppercase text-expanded" href="tableau.html">Tableau Dashboard</a>
              <a class="dropdown-item text-uppercase text-expanded" href="visuals.html">Further Visuals</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
      <br>
        <div class="title-header bg">
          <h3 class="title-header text-light">Word Cloud?</h3>
          <embed src="../static/img/pdf1.pdf" type="application/pdf" width="100%" height="890px">
            <br>        
          <div class="bg text-light">
          <p>Should place some of our visuals we created based on our ML models, maybe briefly describe them here.</p>
          </div>

        </div>
      <br>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
      <br>
        <div class="title-header bg">
          <h3 class="title-header text-light">Another ML graph?</h3>
          <embed src="../static/img/pdf1.pdf" type="application/pdf" width="100%" height="890px">
            <br>        
          <div class="bg text-light">
          <p>Should place some of our visuals we created based on our ML models, maybe briefly describe them here.</p>
          </div>

        </div>
      <br>
      </div>
    </div>
  </div>

  <div class="bg text-light">
    <a href="tableau.html"><p style="position: relative;text-align: right;font-size: 18px;padding-right: 2%;">Explore More Visualizations</p></a>
  </div>

  <footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0 small">Copyright &copy; BootcampAirBnB Team 2020</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>